    .edit{
        /*background: #EEECEC;*/
        padding: 10px;
        font-size: 26px;
        font-weight: bold;
        /*border-radius: 5px;*/
    }
    .modalback{
        background: -webkit-linear-gradient(178deg, #01A9DB 0%, #00BFFF 100%);
        background: linear-gradient(178deg, #01A9DB 0%, #00BFFF 100%);
    }
    .inhd{
        background: -webkit-linear-gradient(178deg, #01A9DB 0%, #00BFFF 100%);
        background: linear-gradient(178deg, #01A9DB 0%, #00BFFF 100%);
        padding: 7px 4px 4px 7px;
        color: #fff;
        border-radius: 7px;
    }
    .btna{
        /*padding: 6px 20px;*/
        color: #fff;
        border-radius: 5px;
    }
    .modal-close-area.modal-close-df {
        right: 35px;
    }
        .modal-close-area {
        position: absolute;
        right: -30px;
        top: -20px;
    }
    .modal-close-area .close {
        opacity: 1;
    }
    .modal-close-area a {
        color: #fff;
        font-size: 16px;
        background: #03a9f4;
        height: 30px;
        width: 30px;
        text-align: center;
        line-height: 28px;
        display: block;
        border-radius: 50%;
    }
    .close {
        padding: 8px 10px;
        margin-top: -88px;
        margin-right: -58px;
        float: right; 
        font-size: 15px;
        line-height: 1;
        color: #ffffffba;
        opacity: 1;
        background: #35cc7b;
        border-radius: 50%;
    }
    .modal-adminpro-general .modal-footer {
        border-top: 0px solid #fff;
    }
    .modal-footer {
        padding: 15px;
        text-align: right;
        border-top: 1px solid #e5e5e5;
    }
    a:visited, a:link, a:active {
        text-decoration: none;
    }
    .btnsave{
        padding: 12px 23px;
        color: #fff;
        font-size: 14px;
        background: #03a9f4;
        margin-left: 15px
    }
    .btnclose{
        padding: 12px 23px;
        color: #fff;
        font-size: 14px;
        background: #F42F2F;
        margin-left: 15px
    }
    .orderlaber{
        width: 70%;
        float: left;
    }
    .orderbtn{
        width: 30%;
        float: right;
        text-align:right;
    }
    .orderbtnformn{
        width: 100%;
    }
    .orderbtnforms{
        width: 100%;
        color: green;
    }
    .top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
    color: #fff;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #1a242f;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    /*border: 1px solid rgba(0,0,0,.15);*/
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

.bg-teal-400 {
    background-color: #26a69a;
    border-color: #26a69a;
    color: #fff;
    padding:8px;

}

.bg-teal-401 {
    background-color: #29b6f6;
    border-color: #29b6f6;
    color: #fff;
    padding:8px;
}

.bg-teal-402 {
    background-color: #ec407a;
    border-color: #ec407a;
    color: #fff;
    padding:8px;
    
}

.bg-teal-403 {
    background-color: #ff7043;
    border-color: #ec407a;
    color: #fff;
    padding:8px;
    
}

.bg-teal-404 {
    background-color: #11af5f;
    border-color: #26a69a;
    color: #fff;
    padding:8px;

}
.bg-teal-405 {
    background-color: #FFBD33;
    border-color: #26a69a;
    color: #fff;
    padding:8px;

}
.bg-teal-406 {
    background-color: #929BE5;
    border-color: #26a69a;
    color: #fff;
    padding:8px;

}
.bg-teal-407 {
    background-color: #5d7e29;
    border-color: #26a69a;
    color: #fff;
    padding:8px;

}

.div-content{
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 16px;
    -webkit-line-clamp: 2;
    height: 31px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.over-y-content{
    height: 359px;
    overflow-y: scroll;
}

.tag:not(body) {
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 4px;
    color: #4a4a4a;
    display: inline-flex;
    font-size: .75rem;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: .75em;
    padding-right: .75em;
    white-space: nowrap;
}
.tag:not(body).is-success {
    background-color: #23d160;
    color: #fff;
}
.tag:not(body).is-primary {
    background-color: #00d1b2;
    color: #fff;
}
.tag:not(body).is-info {
    background-color: #209cee;
    color: #fff;
}
.tag:not(body).is-danger {
    background-color: #ff3860;
    color: #fff;
}
.tag:not(body).is-warning {
    background-color: #ffdd57;
    color: rgba(0,0,0,.7);
}
.buttons.is-right:not(.has-addons) .button:not(.is-fullwidth) {
    margin-left: .25rem;
    margin-right: .25rem;
}

.buttons .button:not(:last-child):not(.is-fullwidth) {
    margin-right: .5rem;
}
.buttons .button {
    margin-bottom: .5rem;
}
.button .is-small {
    border-radius: 2px;
    font-size: .75rem;
}
.button.is-info {
    background-color: #209cee;
    border-color: transparent;
    color: #fff;
}
.button {
    background-color: #fff;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(.375em - 1px);
    padding-left: .75em;
    padding-right: .75em;
    padding-top: calc(.375em - 1px);
    text-align: center;
    white-space: nowrap;
    margin-bottom: .2rem;
}

.button.is-danger.is-hovered, .button.is-danger:hover {
    background-color: #ff2b56;
    border-color: transparent;
    color: #fff;
}

.button.is-danger {
    background-color: #ff3860;
    border-color: transparent;
    color: #fff;
}

    .well{min-height:20px;padding:19px;background-color:#fdfdfd;border:1px solid #ddd;border-radius:3px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.05);box-shadow:inset 0 1px 1px rgba(0,0,0,.05)}
    .well blockquote{border-color:#ddd;border-color:rgba(0,0,0,.15)}
.minibox{
    width: 100%;
    height: 30px;
}
.icon-minibox{
    position: absolute;
    background: #e3dae4d9;
    padding: 1.5%;
    border-radius: 12%;
    height: 103%;
}
.status-span{
    /*background-color: #9a9898;*/
    color: #fff;
    padding: 3px;
}